--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2
pandas
fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
python-dotenv
elasticsearch==8.12.1
scikit-learn
spacy
sentence-transformers
langdetect
slowapi
python-multipart
Unidecode
joblib
spacy
prometheus-client==0.20.0
